# Ignore the vscode directory
**/.vscode/

# Ignore the build directory
**/build/
**/install/
**/log/

# Ignore python cache files
**/__pycache__/

# Other pecific files or directories
*.AppImage
*.btproj
**/Backups/
**/Themes/Groot2.ini